.bg-main1{
    background-color: #ecb0e1;
}
/* #fadbed */

.bg-main2{
    background-color: #FDEDF6;
}

.navbar{
    background-color: black;
}

navbar-brand{
    margin: 10px;
    margin-left: 50px;
}
.media-img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-bg-dark {
    color: #fff!important;
    background-color: RGBA(33,37,41,var(--bs-bg-opacity,1))!important;
}

.rounded-3 {
    border-radius: var(--bs-border-radius-lg)!important;
    min-height: 300px;
}

.resume{
    display: flex;
    align-items: center;
    justify-content: center;
}

.proj1{
    max-width: 80% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.proj1flex{
    width: 100% !important;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 312px;
}

ul{
    margin-inline-start: 2em; 
}


/*
colors: #b57edc
#d198f9
#eeb4ff
#ffd0ff
#ffecff
#ffffff
*/

